.content {
  --background: none !important ;
}

.geomap {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.mapContainer {
  display: inline-block;

  width: 100%;
  height: 30vh;
}

.passengersNumber {
  font-size: 12px;
  color: #747474;
}

.passengersListContainer {
  width: 100%;
}

.passengersList {
  margin-bottom: 40px;
}

.leftItemSection {
  width: 75%;
}

.rightItemSection {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.passengerAddress {
  font-size: 12px;
}

.passengerName,
.passengerNumber {
  font-size: 10px;
}

.passengerName {
  color: #747474;
}

.passengerOrder,
.passengerState {
  font-size: 12px;
}

.footer {
  position: fixed;
  bottom: 0;
}
